<div class="form-group label-simple {{(campo.vars.required ? 'required' : '')}}">
	<label class="{{(campo.vars.required ? 'required' : '')}}">
		{{campo.vars.label}} 
		{% if campo.vars.help %}
			<i class="bi bi-info-circle-fill text-info" role="button"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="{{campo.vars.help}}"></i>
		{% endif %}
		
	</label>

	{% if campo.vars.required %}
		<i class="bi bi-dot obligatorio" data-for="#{{campo.vars.id}}"></i>
	{% endif %}
	{{form_widget(campo)}}
</div>